/* Osnovni stilovi */
body {
  font-family: Arial, sans-serif;
  padding: 5px;
}

/* Kontejner za kartice recepata */
#recipeContainer {
  display: flex;
  flex-wrap: wrap;             /* Omogućava prelazak u sledeći red kada je potrebno */
  gap: 20px;                   /* Razmak između kartica */
  justify-content: space-between; /* Ravnomerno raspoređivanje kartica po širini */
  width: 100%;                 /* Zauzima celu širinu ekrana */
  box-sizing: border-box;      /* Osigurava da razmaci i margine ne prelaze širinu */
}

/* Stilizacija za kartice recepata */
.recipe-card {
  flex: 1 1 30%;               /* Svaka kartica zauzima oko 30% širine, a može se smanjiti */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 150px;           /* Minimalna visina kartica */
  max-height: 200px;           /* Maksimalna visina kartica */
  overflow: hidden;            /* Osećaj da sadržaj ne izlazi iz kartice */
}

/* Slika unutar kartice */
.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Naslov i tekst unutar kartice */
.recipe-card h3 {
  font-size: 18px;
  margin-top: 10px;
}

.recipe-card p {
  font-size: 14px;
  color: #777;
}

/* Dugme unutar kartice */
.recipe-card button {
  background-color: #00b2b1;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.recipe-card button:hover {
  background-color: #009a97;
}

/* Responzivno ponašanje kartica na manjim ekranima */
@media (max-width: 768px) {
  .recipe-card {
    flex: 1 1 48%;  /* Na manjim ekranima kartice zauzimaju 48% širine */
  }
}

@media (max-width: 480px) {
  .recipe-card {
    flex: 1 1 100%; /* Na mobilnim uređajima kartice zauzimaju 100% širine */
  }
}


/* Stil za modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  overflow-y: auto;
  max-height: 70vh; /* Ograničavamo maksimalnu visinu modala */
  display: flex;
  flex-direction: column;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; /* Sticky za fiksiranje */
  top: 0;
  background-color: #fff; /* Pozadina za zaglavlje */
  z-index: 100; /* Prvenstvo u prikazu */
  border-bottom: 2px solid #ccc; /* Dodavanje linije ispod */
  padding: 10px 0;
}

.close {
  font-size: 1.5em;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #00B2B1;
}

.modal-body {
  padding-top: 10px;
  overflow-y: auto; /* Omogućava skrolovanje tela modala */
}

.modal[hidden] {
  display: none;
}
