/* Opšti stilovi */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Recepti */
#recipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.recipe-card {
  background-color: white;
  width: 30%;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-details {
  padding: 15px;
}

.recipe-details h3 {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

.recipe-details p {
  color: #777;
}

.details-btn {
  background-color: #00B2B1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  margin-top: 10px;
}

.details-btn:hover {
  background-color: #008c8a;
}

/* Tagovi za pretragu */
.tag-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  margin: 15px 0;
}

.tag-btn {
  background-color: rgba(0, 178, 177, 0.2);
  color: #00B2B1;
  border: 1px solid #00B2B1;
  border-radius: 20px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1 1 30%;
}

.tag-btn:hover {
  background-color: #00B2B1;
  color: white;
}

.tag-btn.active {
  background-color: #00B2B1;
  color: white;

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  margin: 10% auto;
  width: 80%;
  border-radius: 10px;
  max-width: 600px;
}

.close-btn {
  background-color: #00B2B1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
}

.close-btn:hover {
  background-color: #008c8a;
}

#modalIngredients, #modalPreparation {
  margin-top: 20px;
}

/* Responzivnost */
@media (max-width: 768px) {
  .recipe-card {
    width: 100%;
  }

  .tag-btn {
    font-size: 12px;
    padding: 6px 10px;
  }
}
