body {
  font-family: 'Poppins', sans-serif;
  background: #f4f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  color: #00b2b1;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin: 20px auto;
  max-width: 650px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #00b2b1;
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  width: 100%;
}

button:hover {
  background-color: #009a97;
}

/* tabela vertikalna */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #e6f7f6;
  color: #007978;
}
